[Unit]
Description=ActivityWatch

[Service]
Type=simple
ExecStart={{ joinPath .chezmoi.homeDir ".local/bin/awatcher" }}
Restart=always
RestartSec=1
TimeoutStopSec=infinity

[Install]
WantedBy=gnome-session.target
