[submodule ".config/awesome/bling"]
	path = .config/awesome/bling
	url = https://github.com/Nooo37/bling
[submodule ".config/awesome/layout-machi"]
	path = .config/awesome/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi
[submodule ".config/awesome/widgets"]
	path = .config/awesome/widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule ".config/nvim/plugged/firenvim"]
	path = .config/nvim/plugged/firenvim
	url = https://github.com/glacambre/firenvim
[submodule ".config/nvim/plugged/nord-vim"]
	path = .config/nvim/plugged/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
