{{- $username := (rbw "Disroot").data.username -}}

[Main]
cache-headers     = true
# Incoming mail
default           = INBOX
source            = imaps://{{ $username }}@disroot.org:993
source-cred-cmd   = rbw get Disroot
# Outgoing mail
outgoing          = smtp://{{ $username }}@disroot.org:587
from              = <{{ $username }}@disroot.org>
copy-to           = Sent
outgoing-cred-cmd = rbw get Disroot
