{{- $profilePath := joinPath .chezmoi.homeDir "/.config/firefox" -}}
{{- $releaseId := mozillaInstallHash "/app/lib/firefox" -}}

[Profile0]
Name=default
IsRelative=0
Path={{- $profilePath }}
Default=1

[General]
StartWithLastProfile=0
Version=2

[Install{{- $releaseId -}}]
Default={{- $profilePath }}
Locked=1
