version: 2

global:
  forget:
    keep-within-daily: '7d'
    keep-weekly: 4
    keep-monthly: 5
    keep-yearly: 2

locations:
    documents:
        from:
            - {{ joinPath .chezmoi.homeDir "Documents/Contexts" }}
            - {{ joinPath .chezmoi.homeDir "Documents/Events" }}
        to:
            - backblaze
        cron: 0 20 * * *
        forget: prune

backends:
    backblaze:
        type: b2
        path: lair-sank-railway:/backup
        key: {{ (bitwardenFields "item" "Backblaze").restic_enc_key.value }}
        env:
            b2_account_id: {{ (bitwardenFields "item" "Backblaze").acc_id.value }}
            b2_account_key: {{ (bitwardenFields "item" "Backblaze").restic_acc_key.value }}
