tap "homebrew/bundle"
tap "homebrew/services"

# Modern Unix
brew "bat"       # cat replacement
brew "fd"        # find replacement 
brew "httpie"    # curl replacement (for some usecases)
brew "lsd"       # ls replacement
brew "ripgrep"   # grep replacement
brew "zoxide"    # cd replacement

# Programming languages
brew "go"        # The most boring language
brew "ipython"   # Python REPL if it was usable
brew "poetry"    # pip if it was usable
brew "uv"        #           ... even more usable
brew "julia"     # Python language if it was usable
brew "node"      # Unfortunately required for a lot of things :(
brew "pnpm"      # npm if it was usable
brew "elixir"    # I'm in love

# Dev tools
brew "tailwindcss"   # CSS but trendy
brew "flyctl"        # Simple deploys
brew "cloc"          # Count lines of code
brew "mysql-client"  # MySQL CLI

# Backup
brew "autorestic"   # Backup my files
{{- if not (lookPath "chezmoi") }}
brew "chezmoi"      # Dotfile management
{{ end }}
brew "rbw"          # Required for storing secrets in chezmoi
brew "syncthing", restart_service: true # Sync files from my phone

# Misc
brew "yt-dlp"   # Download anything from anywhere
brew "xdg-ninja", args: ["HEAD"] # Declutter your HOME
brew "tlrc"     # Man pages, but straight to the point
brew "numbat"   # A calculator on steroids
